@media (max-width:768px){

    /* HERO */
    
    .hero{
        height:100svh;
        padding:20px;
    }
    
    .date{
        top:25px;
        left:25px;
        font-size:16px;
    }
    
    .subtitle{
        font-size:12px;
        letter-spacing:6px;
    }
    
    h1{
        font-size:72px;
        line-height:.9;
    }
    
    h1 span{
        font-size:48px;
    }
    
    /* Всі секції */
    
    section{
        padding:70px 25px;
    }
    
    .divider{
        margin:40px auto;
    }
    
    /* Заголовки */
    
    h2,
    .invitation h2,
    .location h2,
    .timeline h2,
    .countdown-title,
    .dresscode h2,
    .footer h2{
        font-size:48px;
        line-height:1.2;
    }
    
    /* Текст */
    
    .text{
        font-size:20px;
        line-height:1.8;
    }
    
    /* Таймер */
    
    .timer{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        gap:30px;
    }
    
    .time-box{
        width:auto;
    }
    
    .time-box span{
        font-size:64px;
    }
    
    /* Локації */
    
    .location-grid{
        grid-template-columns:1fr;
        gap:30px;
    }
    
    .location-card{
        width:100%;
    }
    
    /* Dress Code */
    
    .colors{
        justify-content:center;
        gap:25px;
    }
    
    .color{
        width:95px;
    }
    
    /* Таймлайн */
    
    .timeline-line::before{
        left:28px;
    }
    
    .event{
        padding-left:60px;
        gap:10px;
    }
    
    .time{
        width:auto;
        font-size:22px;
    }
    
    .dot{
        left:19px;
    }
    
    /* Footer */
    
    .footer{
        padding-bottom:80px;
    }
    
    }

    