/* ---------- RESET ---------- */
*{

    transition:

    color .3s,

    background .3s,

    border .3s,

    box-shadow .3s;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Montserrat',sans-serif;
    overflow-x:hidden;
    background:#F7F3EE;
}

/* ---------- HERO ---------- */

.hero{

    position:relative;

    width:100%;

    height:100vh;

    overflow:hidden;
    animation:heroZoom 18s ease-in-out infinite alternate;

}

/* Фото */

.hero::before{

    content:"";

    position:absolute;

    inset:0;

    background:url("../assets/images/hero.jpg");

    background-size:cover;

    background-position:center;

    animation:zoom 18s ease-in-out infinite alternate;

}

/* Затемнення */

.overlay{

    position:absolute;
    inset:0;

    background:linear-gradient(
        to bottom,
        rgba(0,0,0,.58) 0%,
        rgba(0,0,0,.30) 35%,
        rgba(0,0,0,.18) 55%,
        rgba(0,0,0,.45) 100%
    );

}

.hero-content{

    position:relative;

    z-index:2;

    width:100%;

    height:100%;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    color:white;

    text-align:center;

    animation:fadeIn 2s ease;

}

.date{

    position:absolute;

    top:40px;

    left:35px;

    font-size:18px;

    letter-spacing:3px;

    font-weight:300;

    opacity:.9;

}

.subtitle{

    color:rgba(255,255,255,.92);

    text-transform:uppercase;

    letter-spacing:14px;

    font-size:13px;

    font-weight:300;

}

h1{
    font-family:"Playfair Display", serif;
    font-size:110px;
    font-weight:600;

    line-height:1.05;

    letter-spacing:1px;

    text-shadow:
0 5px 20px rgba(0,0,0,.45),
0 0 35px rgba(255,255,255,.08);
}

h1 span{
    display:block;
    font-family:"Playfair Display", serif;
    font-size:60px;
    font-weight:300;

    margin:20px 0;

    letter-spacing:0;
}
/* Стрілка */

.scroll{

    position:absolute;

    bottom:35px;

    font-size:40px;

    animation:bounce 2s infinite;

    cursor:pointer;

}

/* ---------- Анімації ---------- */

@keyframes zoom{

    from{

        transform:scale(1);

    }

    to{

        transform:scale(1.08);

    }

}

@keyframes fadeIn{

    from{

        opacity:0;

        transform:translateY(30px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

@keyframes bounce{

    0%,100%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(12px);

    }

}

/* ---------------- PRELOADER ---------------- */

#preloader{

    position:fixed;

    inset:0;

    background:#000;

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:9999;

    transition:opacity 1.4s;

}

.loader-content{

    text-align:center;

    color:white;

    animation:loaderAppear 1.6s ease;

}

.loader-top{

    letter-spacing:8px;

    font-size:12px;

    margin-bottom:30px;

}

.loader-content h2{

    font-family:"Great Vibes",cursive;

    font-size:90px;

    font-weight:400;

    line-height:.9;

}

.loader-content span{

    display:block;

    font-size:60px;

    margin:10px 0;

}

.hide-loader{

    opacity:0;

    pointer-events:none;

}

@keyframes loaderAppear{

    from{

        opacity:0;

        transform:translateY(30px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

/* ---------------- INVITATION ---------------- */

.invitation{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#F7F3EE;

    padding:80px 25px;

}

.container{

    max-width:700px;

    text-align:center;

}

.small-title{
    display:block;
    text-align:center;

    font-size:28px;
    font-weight:600;

    letter-spacing:10px;

    color:#B8956A;

    text-transform:uppercase;

    margin-bottom:18px;
}


.invitation h2{

    font-family:"Cormorant Garamond",serif;

    font-size:48px;

    font-weight:500;

    margin-bottom:40px;

}

.text{

    font-size:22px;

    line-height:1.9;

    color:#555;

    font-weight:300;

}

.date-block{

    margin-top:55px;

    letter-spacing:6px;

    font-size:18px;

    color:#222;

}

/* ---------- COUNTDOWN ---------- */

.countdown{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#FFFFFF;

    padding:100px 20px;

}

.countdown-container{

    text-align:center;

}

.countdown-title{

    font-family:"Cormorant Garamond",serif;

    font-size:48px;

    line-height:1.2;

    margin-bottom:80px;

}

.count-subtitle{

    margin-top:-40px;

    margin-bottom:60px;

    color:#888;

    font-size:18px;

    letter-spacing:2px;

}

.timer{

    display:flex;

    gap:70px;

    justify-content:center;

    flex-wrap:wrap;

}

.time-box{

    width:180px;

    position:relative;

    padding-top:25px;

}

.time-box::before{

    content:"";

    position:absolute;

    top:0;

    left:50%;

    transform:translateX(-50%);

    width:70px;

    height:2px;

    background:#B8956A;

}

.time-box span{

    display:block;

    font-size:88px;

    font-family:"Cormorant Garamond", serif;

    font-weight:500;

    color:#222;

    line-height:.9;
}

.time-box p{

    margin-top:12px;

    letter-spacing:5px;

    text-transform:uppercase;

    font-size:15px;

    letter-spacing:6px;

    color:#9d8067;

    font-weight:500;
}

/* ---------- LOCATION ---------- */

.location{

    min-height:100vh;

    padding:80px 25px;

}

.location h2{

    text-align:center;

    font-size:48px;

    margin-bottom:70px;

    font-family:"Cormorant Garamond",serif;

}

.location-wrapper{

    display:flex;

    gap:40px;

    justify-content:center;

    flex-wrap:wrap;

}

.location-card{

    width:480px;
    min-height:auto;
    padding:40px;

    border:1px solid #E9DED0;

    background:white;

    border-radius:28px;

    text-align:center;

    box-shadow:0 10px 40px rgba(0,0,0,.05);

}

.location-card:hover{

    transform:translateY(-12px);

    box-shadow:0 25px 60px rgba(0,0,0,.08);

}

.location-card h3{

    font-family:"Cormorant Garamond",serif;

    font-size:32px;

    font-weight:600;

    margin-bottom:25px;

    line-height:1.2;

}

.location-card h3 span{
    margin-right:8px;
}

.time{

    width:100px;

    font-size:45px;

    font-weight:700;

    color:#A9845C;

}

.location-card p{
    font-size:18px;
    line-height:1.6; 
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:14px 34px;
    border:1px solid #B8956A;
    color:#7A6045;
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing:3px;
    font-size:13px;
    font-weight:500;
    background:#fff;
    border-radius:4px;
    transition:.3s;

}

.btn:hover{
    background:#B8956A;
    color:#fff;
}

/* ---------- DRESS CODE ---------- */

.dress-code{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:90px 20px;
}

.dress-container{

    text-align:center;

    max-width:900px;

}

.section-title{

    display:block;

    text-align:center;

    font-size:24px;

    font-weight:600;

    letter-spacing:10px;

    margin-bottom:18px;

    color:#B8956A;

    text-transform:uppercase;

    margin-bottom:18px;

}

.dress-container h2{

    font-family:"Cormorant Garamond",serif;

    font-size:48px;

    font-weight:500;

    margin-bottom:70px;

}

.colors{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:55px;

    margin-top:30px;

}

.color{

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:12px;

}

.color p{

    font-size:18px;

    color:#444;

    margin-top:8px;

    font-weight:400;

}

.circle{

    width:105px;

    height:105px;

    border-radius:50%;

    margin-bottom:18px;

    transition:.4s;

    cursor:pointer;
}

.circle:hover{

    transform:translateY(-6px) scale(1.08);

    box-shadow:0 20px 35px rgba(0,0,0,.18);

}
/* Кольори */

.white{

    background:#FAF7F2;

    border:1px solid #d8c6af;

}

.beige{

    background:#d6c3ab;

}

.mocha{

    background:#9d8067;

}

.brown{

    background:#5f4538;

}

.black{

    background:#1d1d1d;

}

/* ---------- TIMELINE ---------- */

.timeline{

    min-height:100vh;

    padding:90px 20px;

}

.timeline-container{

    max-width:900px;

    margin:auto;

}

.timeline h2{

    text-align:center;

    font-size:48px;

    font-family:"Cormorant Garamond",serif;

    font-weight:500;

    margin-bottom:80px;

}

.timeline-line{

    position:relative;

}

.timeline-line::before{

    content:"";

    position:absolute;

    left:115px;

    top:0;

    width:3px;

    height:100%;

    background:#B8956A;

}

.event{

    display:flex;

    align-items:flex-start;

    gap:30px;

    margin-bottom:60px;

    position:relative;

}

.timeline .time{
    width:80px;
    font-size:20px;
    font-weight:600;
}

.dot{

    width:22px;

    height:22px;

    border-radius:50%;

    background:#B8956A;

    border:5px solid #F7F3EE;

    box-shadow:0 0 0 3px rgba(184,149,106,.15);

}

.info{

    flex:1;

}

.info h3{

    font-size:36px;

    font-weight:500;

    margin-bottom:12px;

    font-family:"Cormorant Garamond",serif;

}

.info p{

    color:#8B8B8B;

    font-size:22px;

    line-height:1.8;

    max-width:520px;

}

.divider{

    width:180px;

    height:1px;

    background:#D7C6B1;

    margin:20px auto;

    position:relative;

}

.divider::after{

    content:"♡";

    position:absolute;

    left:50%;

    top:-12px;

    transform:translateX(-50%);

    background:#F7F3EE;

    color:#B8956A;

    padding:0 12px;

    font-size:14px;

}

.hidden{

    opacity:0;

    transform:translateY(60px);

    transition:all .8s ease;

}

.show{

    opacity:1;

    transform:translateY(0);

}

@keyframes heroZoom{

    0%{
    
    transform:scale(1);
    
    }
    
    100%{
    
    transform:scale(1.08);
    
    }
    
    }

    .ending{

        min-height:70vh;
    
        display:flex;
    
        flex-direction:column;
    
        justify-content:center;
    
        align-items:center;
    
        text-align:center;
    
        padding:120px 20px;
    
    }
    
    .ending h2{
        font-family: "Playfair Display", serif;
        font-size: 68px;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 1.2;
    }
    
    .ending p{
    
        max-width:650px;
    
        line-height:2;
    
        font-size:22px;
    
        color:#777;
    
    }
    
    .ending h3{
    
        margin-top:50px;
    
        letter-spacing:6px;
    
        color:#B8956A;
    
    }
    
    .heart{
    
        margin-top:35px;
    
        font-size:34px;
    
        color:#B8956A;
    
    }

    /* ==========================
   MOBILE VERSION
========================== */

@media (max-width: 768px) {

    section{
        padding:70px 20px;
    }

    h2{
        font-size:46px !important;
        line-height:1.2;
    }

    p{
        font-size:20px;
        line-height:1.8;
    }

}

.reveal{

    opacity:0;

    transform:translateY(60px);

    transition:1s ease;

}

.reveal.active{

    opacity:1;

    transform:translateY(0);

}